[Unit]
Description=Neural Services Group (neural_executor only)
Conflicts=test.target
Wants=neural_executor.service
AllowIsolate=yes

[Install]
WantedBy=sim-session.service
