[Unit]
Description=Neural Services Group A (neural_executor + neural_infer)
Conflicts=test.target
Wants=neural_executor.service neural_infer.service
AllowIsolate=yes

[Install]
WantedBy=sim-session.service
